#root {
   max-width: 100svw;
   margin: 0;
   padding: 0rem;
   text-align: center;
}

* {
   list-style: none;
}

a.active {
   color: rgb(99, 99, 255);
   font-weight: 800;
   text-decoration: underline;
}
