#root {
   max-width: 100svw;
   margin: 0;
   padding: 0rem;
   text-align: center;
}

* {
   list-style: none;
}

a.active {
   color: rgb(99, 99, 255);
   font-weight: 800;
   text-decoration: underline;
}
#loader-container {
   position: absolute;
   padding: 8px;
   width: 40px;
   aspect-ratio: 1;
   border-radius: 50%;
   background: #0faede;
   -webkit-mask: conic-gradient(#0000 10%, #000),
      linear-gradient(#000 0 0) content-box;
   mask: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
   -webkit-mask-composite: source-out;
   mask-composite: subtract;
   animation: spinn 1s infinite linear;
}
.center {
   place-content: center;
   place-items: center;
}
@keyframes spinn {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

/* @media (min-height: 1200px) {
   [id="form-login"] {
      box-shadow: 10px 10px 5px blueviolet;
      margin-top: 0px;
   }
} */
/* @keyframes l3 {
   to {
      transform: rotate(1turn);
   }
} */
@media (min-width: 1346px) {
   #root {
      margin-bottom: 220px;
   }
}
@media (max-width: 1346px) {
   #root {
      margin-bottom: 240px;
   }
}
@media (max-width: 1178px) {
   #root {
      margin-bottom: 260px;
   }
}
@media (max-width: 896px) {
   #root {
      margin-bottom: 410px;
   }
}
@media (max-width: 642px) {
   #root {
      margin-bottom: 839px;
   }
}
@media (max-width: 385px) {
   #root {
      margin-bottom: 867px;
   }
}
@media (max-width: 385px) {
   #root {
      margin-bottom: 887px;
   }
}
