#root {
   max-width: 100svw;
   margin: 0;
   padding: 0rem;
   text-align: center;
}

* {
   list-style: none;
}

a.active {
   color: rgb(99, 99, 255);
   font-weight: 800;
   text-decoration: underline;
}
#loader-container {
   position: absolute;
   padding: 8px;
   width: 40px;
   aspect-ratio: 1;
   border-radius: 50%;
   background: #0faede;
   -webkit-mask: conic-gradient(#0000 10%, #000),
      linear-gradient(#000 0 0) content-box;
   mask: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
   -webkit-mask-composite: source-out;
   mask-composite: subtract;
   animation: spinn 1s infinite linear;
}
@keyframes spinn {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

/* @keyframes l3 {
   to {
      transform: rotate(1turn);
   }
} */
